<app-page-title
  [title]="'New Food Truck'"
  [spinner]="loading">
</app-page-title>

<mat-card class="mat-elevation-z0 border-gray-round">
  <mat-card-content>

    <!-- TRUCK-NAME-INPUT -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Food Truck Name</mat-label>
      <input matInput type="text" [formControl]="nameControl">
      <mat-error *ngIf="nameControl.hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="nameControl.hasError('exists')">
        Name already exists
      </mat-error>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button color="primary"
      (click)="onSave()"
      [disabled]="form.invalid || form.pending || loading">
        Save
    </button>
    <a [routerLink]="['../']" mat-stroked-button color="primary">
      Cancel
    </a>
  </mat-card-actions>
</mat-card>
