<app-page-title
  [title]="'New Reservation'"
  [spinner]="loading">
</app-page-title>

<mat-card class="mat-elevation-z0 border-gray-round" >
  <mat-card-content>

    <!-- TRUCK-SELECTOR -->
    <div [formGroup]="form">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select a Food Truck</mat-label>
        <mat-select [formControl]="nameControl">
          <mat-option *ngFor="let truck of truckList" [value]="truck.name">{{truck.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="nameControl.hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

      <!-- DATE-SELECTOR -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Choose a date</mat-label>
        <input
          matInput [matDatepicker]="picker"
          [min]="min" [formControl]="dateControl"
          [disabled]="true" [matDatepickerFilter]="dateFilter">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        <mat-error *ngIf="dateControl.hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button color="primary"
      [disabled]="form.invalid || loading"
      (click)="onSave()">
        Save
      </button>
    <a [routerLink]="['../']" mat-stroked-button color="primary">
      Cancel
    </a>
  </mat-card-actions>
</mat-card>



