.drawer-container {
  height: 100%;
  mat-drawer {
    min-width: 260px;
  }
}

.logo-box {
  overflow: hidden;
  .hooly-logo {
    max-width: 260px;
  }
}

.layout-content-box {
  padding: 10px 30px;
  max-width: 1200px;
  margin: auto;
  &.screen-is-small {
    padding: 10px 15px;
  }
}

.header {
  border: 1px solid blue;
  height: 20px;
}
