<mat-drawer-container class="drawer-container">
  <mat-drawer #sideNav
    [mode]="(mode$ | async) ?? 'over'"
    [opened]="(mode$ | async) === 'side'"
    [disableClose]="(mode$ | async) === 'side'">
      <div class="logo-box">
        <a [routerLink]="['/']">
          <img class='hooly-logo' src="assets/img/logo2.png" alt="">
        </a>
      </div>
      <app-side-nav-menu></app-side-nav-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar *ngIf="(mode$ | async) === 'over'">
      <button mat-icon-button (click)="sideNav.open()" >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="layout-content-box" [class.screen-is-small]="(mode$ | async) === 'over'">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
