<div class="fx-row fx-space-between">
  <div class="fx-row fx-center fx-gap-10">
    <h1>{{title}}</h1>
    <div class="fx-column fx-center" *ngIf="spinner">
      <app-mat-spinner-wrapper></app-mat-spinner-wrapper>
    </div>
  </div>

  <div class="fx-column fx-center">
    <a *ngIf="buttonConfig" mat-flat-button color="primary" [routerLink]="buttonConfig.link">
      {{buttonConfig.text}}
    </a>
  </div>
</div>
