/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: inherit;
  display: block;
}

.w-100 {
  width: 100%;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-column {
  display: flex;
  flex-direction: column;
}

.fx-center {
  justify-content: center;
}

.fx-space-between {
  justify-content: space-between;
}

.fx-gap-10 {
  gap: 10px;
}

.border-gray-round {
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow: hidden;
}

