<app-page-title
  [title]="'Reservations'"
  [buttonConfig]="buttonConfig"
  [spinner]="loading">
</app-page-title>

<div class="border-gray-round">
  <app-mat-table-wrapper
    [displayedColumns]="displayedColumns"
    >
  </app-mat-table-wrapper>
</div>

