.side-nav-menu {
  ul {
    list-style-type: none;
    padding: 10px;
    a {
      border-radius: 8px;
      padding: 10px;
      line-height: 30px;
      display: block;
      text-decoration: none;
      &.active {
        background-color: #546cbb;
        color: white;
      }
    }
  }
}
