<nav class="side-nav-menu">
  <ul>
    <li>
      <a
        [routerLink]="['reservations']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
          RESERVATIONS
      </a>
    </li>
    <li>
      <a
        [routerLink]="['reservations', 'new']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
          NEW RESERVATION
      </a>
    </li>
    <li>
      <a
        [routerLink]="['trucks']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
          TRUCKS
      </a>
    </li>
    <li>
      <a
        [routerLink]="['trucks', 'new']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
          NEW TRUCK
      </a>
    </li>
  </ul>
</nav>
